:root {
  --text-color: #434455;
  --dark-color: #2e2f42;
  --pressed-state-color: #404bbf;
  --primary-brand-color: #4d5ae5;
  --accent-color: #e7e9fc;
  --white-color: #ffffff;
  --light-color: #f4f4fd;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  letter-spacing: 0.02em;
  line-height: 1.5;
  color: var(--text-color);
  background-color: var(--white-color);
}

ul {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
}

p {
  margin-bottom: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  margin-right: auto;
  margin-left: auto;
  width: 1158px;
  background-color: tomato;
}

header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container-inner {
  display: flex;
  background-color: greenyellow;
}

.section-goals {
  padding-top: 120px;
  padding-bottom: 0;
}

.section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.section-portfolio {
  padding-top: 96px;
  padding-bottom: 120px;
}

.link {
  text-decoration: none;
}
/*HEADER*/

.logotype {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-brand-color);
}

.studio-header {
  color: var(--dark-color);
}
.site-nav {
  display: flex;
  align-items: start;
  justify-content: space-between;
}

.site-nav .link {
  color: var(--dark-color);
  font-weight: 500;
}

.site-nav .link:hover,
.site-nav .link:focus,
.site-nav .link.current,
.contacts .link:hover,
.contacts .link:focus {
  color: var(--pressed-state-color);
}

.contacts {
  display: flex;
  align-items: end;
  justify-content: space-between;
  margin-top: 24px;
  margin-bottom: 24px;
}

.contacts .link {
  font-style: normal;
  color: var(--text-color);
}

/*HERO*/

.hero {
  background: var(--dark-color);
  text-align: center;
  margin-bottom: 0;
}

.main-title {
  margin-top: 0;
  margin-bottom: 48px;
  padding-top: 188px;
  font-size: 56px;
  line-height: 1.07;
  color: var(--white-color);
}

.button {
  border-radius: 4px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  border: 1px solid transparent;
  cursor: pointer;
}

.button.primary {
  padding: 16px 32px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  color: var(--white-color);
  background: var(--primary-brand-color);
  margin-bottom: 188px;
}

.button.primary:hover,
.button.primary:focus {
  background: var(--pressed-state-color);
}

.button.secondary {
  padding: 12px 24px;
  border: 1px solid var(--accent-color);
  color: var(--primary-brand-color);
  background: var(--light-color);
  border-color: var(--accent-color);
}

.button.secondary:hover,
.button.secondary:focus {
  color: var(--white-color);
  background: var(--pressed-state-color);
  border: 1px solid transparent;
}

/*GOALS, GOALS ILLUSTRATIONS, TEAM PHOTO, PORTFOLIO*/

.subtitle {
  font-size: 36px;
  line-height: 1.11;
  text-transform: capitalize;
  color: var(--dark-color);
  text-align: center;
}

.definition {
  margin: 32px 0 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: var(--dark-color);
}

/*FOOTER*/

.footer {
  background: var(--dark-color);
}

.studio-footer {
  color: var(--light-color);
}

.text-footer {
  color: var(--accent-color);
}
